.header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  width: 100%;
  border-bottom: 1px solid $c-black;
  
  @include desktop {
    height: toRem(70);
  }

  @include tablet {
    height: toRem(60);
  }

  @include mobile {
    height: toRem(50);
  }
}